<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Foodepia</title>

    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">

</head>

<body class="gray-dark">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="preloader"><div class="preloader"><span></span><span></span></div></div>


<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">


    <!-- =========================== Admin Login =================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-10 col-12">

                    <div class="admin_login_wrap">
                        <div class="admin_login_header">
                            <h4><i class="ti-user mr-2"></i>Admin Panel</h4>
                        </div>

                        <div class="admin_login_body">

                            {% for  message in app.flashes('success') %}
                                <div class=" text-success">{{ message }}</div>
                            {% endfor %}

                            {% for  message in app.flashes('error') %}
                                <div class=" text-success">{{ message }}</div>
                            {% endfor %}


                            <form action="{{ path('security_login') }}" method="post">

                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control" name="_username">
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="_password">
                                </div>

                                <div class="login_flex">
                                    <div class="login_flex_1">
                                        <a href="#" class="text-bold">Forget Password?</a>
                                    </div>
                                    <div class="login_flex_2">
                                        <div class="form-group mb-0">
                                            <button type="submit" class="btn btn-md btn-theme">Login</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- =========================== Admin Login =================================== -->



</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{ asset('assets/js/jquery.min.js')  }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('assets/js/metisMenu.min.js')  }}"></script>
<script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
<script src="{{ asset('assets/js/ion.rangeSlider.min.js') }}"></script>
<script src="{{ asset('assets/js/smoothproducts.js') }}"></script>
<script src="{{ asset('assets/js/jquery-rating.js') }}"></script>
<script src="{{ asset('assets/js/jQuery.style.switcher.js') }}"></script>
<script src="{{ asset('assets/js/custom.js') }}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

</body>
</html>