{% extends 'backOffice/baseDash.html.twig' %}
{% block title %}Dashboard | Orders{% endblock %}
{% block body %}

	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
				<li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Orders</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">List Orders</a></li>
			</ol>
		</nav>
	</div>


	<div class="col-md-12">
		<div class="col-md-12 mx-auto">
			<div class="ms-panel">
				<div class="ms-panel-header mb-4">
					<h6 class="float-left">Orders List</h6>
					{% for  message in app.flashes('success') %}
						<div class=" text-success font-weight-bold float-right">{{ message }}</div>
					{% endfor %}

					{% for  message in app.flashes('error') %}
						<div class=" text-danger font-weight-bold float-right">{{ message }}</div>
					{% endfor %}
				</div>
				<div class="ms-panel-body">
					<div class="container">
						<div class="row mb-4">
							{{ form_start(form,{'attr':{'class':'w-100'}}) }}
							<div class="row d-flex align-items-center">
								<div class="col-lg-4 col-md-4">
									<div class="form-group">
										<label>Country</label>
										{{ form_widget(form.country,{'attr':{'class':'form-control'}}) }}
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="form-group">
										<label>City</label>
										{{ form_widget(form.city,{'attr':{'class':'form-control'}}) }}
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="form-group">
										<div class="text-center mt-4">
											<button  class="btn btn-primary btn-filter" type="submit">Filter <i class="fa fa-filter"></i></button>
										</div>
									</div>
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
					<div class="table-responsive">
						<table id="example4" class="table table-hover thead-primary text-center">
							<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Date Order</th>
								<th scope="col">Customer Name</th>
								<th scope="col">Customer Phone</th>
								<th scope="col">Country</th>
								<th scope="col">City</th>
								<th scope="col">Detail</th>
								<th scope="col">Status</th>
								<th scope="col">Drivers</th>
								<th scope="col">Action</th>
							</tr>
							</thead>
							<tbody>

							{% for order in orders|sort|reverse %}
								<tr>
									<td>{{ order.trackNumber }}</td>
									<td>{{ order.orderDate|date("d/m/Y") }}</td>
									<td>{{ order.fullName }}</td>
									<td>{{ order.phone }}</td>
									<td>{{ order.city.country.name }}</td>
									<td>{{ order.city.name }}</td>

									<td>
										<a href='{{ path('adminOrderDetail',{'id':order.id}) }}'><i class='m-auto far fa-eye'></i></a>
									</td>

									<td>
										{% if order.status == 'INITIATED' %}
											<span class="badge badge-danger">Pending</span>
										{% elseif order.status == 'CANCELED'%}
											<span class="badge badge-dark">Cancelled</span>
										{% elseif order.status == 'VALIDATED'%}
											<span class="badge badge-warning">Validated</span>
										{% elseif order.status == 'IN TRANSIT'%}
											<span class="badge badge-info">In Transit</span>
										{% elseif order.status == 'DELIVERED'%}
											<span class="badge badge-success">Delivered</span>
										{% elseif order.status == 'RETURNED'%}
											<span class="badge badge-dark">Returned</span>
										{% endif %}
									</td>

									<td>

										{% if order.status != 'CANCELED' %}
											{% if order.driver is null %}
												<a href="{{ path('adminChoseDriver',{'id':order.id})}}" class="btn btn-danger shadow-none text-white btn-driver">Chose Diver</a>
											{% else %}
												{{ order.driver.fullName }}
											{% endif %}
										{% endif %}

									</td>

									<td>
										{% if order.status == 'INITIATED' %}
											<a href='javascript:void(0)' class="text-danger btn-order-cancel" data-toggle="modal" data-target="#modal-2" onclick='cancelOrder("{{ path('cancelOrder',{'id':order.id})}}")'><b>Cancel</b></a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Delete Confirm !</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<p>Do you really want to delete ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
					<a href="#" class="btn btn-primary shadow-none" id="linkDelete">Delete</a>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-2">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Cancel Confirm !</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<p>Do you really want to Cancel this order ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
					<a href="#" class="btn btn-primary shadow-none" id="linkCancel">Cancel Order</a>
				</div>

			</div>
		</div>
	</div>
{%  endblock %}

{% block javascripts %}

	<script>

        function deletePackage(link) {
            document.getElementById("linkDelete").href = link;
        }

        function cancelOrder(link) {
            document.getElementById("linkCancel").href = link;
        }

	</script>

{% endblock %}