{% extends 'backOffice/baseDash.html.twig' %}
{% block title %}Dashboard | Chefs{% endblock %}
{% block body %}

    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> {% trans %}Home{% endtrans %}</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">{% trans %}Caterers{% endtrans %}</a></li>
            </ol>
        </nav>
    </div>


    <div class="col-md-12">
        <div class="col-md-12 mx-auto">
            <div class="ms-panel">
                <div class="ms-panel-header mb-4">
                    <h6 class="float-left">{% trans %}Caterers List{% endtrans %}</h6>
                    {% for  message in app.flashes('success') %}
                        <div class=" text-success font-weight-bold float-right">{{ message }}</div>
                    {% endfor %}

                    {% for  message in app.flashes('error') %}
                        <div class=" text-danger font-weight-bold float-right">{{ message }}</div>
                    {% endfor %}
                </div>
                <div class="ms-panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover thead-primary text-center">
                            <thead>
                            <tr>
                                <th scope="col">{% trans %}Username{% endtrans %}</th>
                                <th scope="col">{% trans %}FullName{% endtrans %}</th>
                                <th scope="col">{% trans %}Contact Phone{% endtrans %}</th>
                                <th scope="col">{% trans %}Country{% endtrans %}</th>
                                <th scope="col">{% trans %}City{% endtrans %}</th>
                                <th scope="col">{% trans %}Address{% endtrans %}</th>
                                <th scope="col">{% trans %}Detail{% endtrans %}</th>
                                <th scope="col">{% trans %}Status{% endtrans %}</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for partner in partners |sort|reverse %}
                                <tr>
                                    <td>{{ partner.username }}</td>
                                    <td>{{ partner.fullName }}</td>
                                    <td>{{ partner.contactPhone }}</td>
                                    <td>{{ partner.city.country.name }}</td>
                                    <td>{{ partner.city.name }}</td>
                                    <td>{{ partner.address }}</td>
                                    <td>
                                        <a href='{{ path('secondAdminCatererDetail',{'username':partner.username}) }}'><i class='m-auto far fa-eye'></i></a>
                                    </td>
                                    <td>
                                        {% if partner.status == "block"%}
                                            <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-active" onclick='activeAlert("{{ path('second_admin_active_partner',{'id':partner.id})}}")' class="btn btn-success shadow-none btn-variant">{% trans %}Activate{% endtrans %}</a>
                                        {% else %}
                                            <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-block" onclick='blockAlert("{{ path('second_admin_ban_partner',{'id':partner.id})}}")' class="btn btn-danger shadow-none btn-variant">{% trans %}Block{% endtrans %}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-block" onclick='cancelAlert("{{ path('second_admin_users_block',{'id':partner.id})}}")'><i class='fa fa-ban text-danger font-weight-bold'></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-remove" tabindex="-1" role="dialog" aria-labelledby="modal-block">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>{% trans %}Remove Confirm{% endtrans %} !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>{% trans %}Do you really want to Remove this User{% endtrans %} ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkRemove">{% trans %}Remove{% endtrans %}</a>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-block" tabindex="-1" role="dialog" aria-labelledby="modal-block">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>{% trans %}Block Confirm{% endtrans %} !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>{% trans %}Do you really want to Block this User{% endtrans %} ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkBlock">{% trans %}Block{% endtrans %}</a>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-active" tabindex="-1" role="dialog" aria-labelledby="modal-block">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>{% trans %}Active Confirm{% endtrans %} !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>{% trans %}Do you really want to Active this User{% endtrans %} ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkActive">{% trans %}Active{% endtrans %}</a>
                </div>

            </div>
        </div>
    </div>


{%  endblock %}

{% block javascripts %}
    <script>
        function removeAlert(link) {
            document.getElementById("linkRemove").href = link;
        }

        function activeAlert(link) {
            document.getElementById("linkActive").href = link;
        }

        function blockAlert(link) {
            document.getElementById("linkBlock").href = link;
        }
    </script>
{% endblock %}