{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h1 class="text-center">{% trans %}Reset your password{% endtrans %}</h1>
                <div class="col-lg-6 col-md-6 mx-auto">
                    {{ form_start(requestForm) }}
                    <div class="form-group">
                        <div class="text-danger">{{ form_errors(requestForm.email) }}</div>
                        {{ form_widget(requestForm.email,{'attr':{'class':'form-control'}}) }}
                    </div>

                    <div>
                        <small>
                            {% trans %}Enter your email address and we we will send you a
                                link to reset your password.{% endtrans %}
                        </small>
                    </div>
                    <button class="btn btn-primary mt-2">{% trans %}Send password reset email{% endtrans %}</button>
                    {{ form_end(requestForm) }}
                </div>

            </div>
        </div>
    </section>

{% endblock %}