{% extends 'backOffice/baseDash.html.twig' %}
{% block title %}Dashboard | Second Admin List{% endblock %}
{% block body %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Second Admins</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">List Of Second Admins</a></li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="col-md-12 mx-auto">
            <div class="ms-panel">
                <div class="ms-panel-header mb-4">
                    <h6 class="float-left">Second Admins List</h6>
                    {% for  message in app.flashes('success') %}
                        <div class=" text-success font-weight-bold float-right">{{ message }}</div>
                    {% endfor %}
                    {% for  message in app.flashes('error') %}
                        <div class=" text-danger font-weight-bold float-right">{{ message }}</div>
                    {% endfor %}
                </div>
                <div class="ms-panel-body">
                    <div class="container">
                        <div class="row mb-4">
                            {{ form_start(form,{'attr':{'class':'w-100'}}) }}
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        {{ form_widget(form.country,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        {{ form_widget(form.city,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <div class="text-center mt-4">
                                            <button  class="btn btn-primary btn-filter" type="submit">Filter <i class="fa fa-filter"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover thead-primary text-center">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">FullName</th>
                                <th scope="col">Contact Phone</th>
                                <th scope="col">Country</th>
                                <th scope="col">City</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for secondAdmin in secondAdmins |sort|reverse %}
                                <tr>
                                    <td>{{ secondAdmin.username }}</td>
                                    <td>{{ secondAdmin.fullName }}</td>
                                    <td>{{ secondAdmin.contactPhone }}</td>
                                    <td>{{ secondAdmin.city.country.name }}</td>
                                    <td>{{ secondAdmin.city.name }}</td>
                                    <td>
                                        <a href='{{ path('editSecondAdmin',{'id':secondAdmin.id}) }}'><i class='far fa-edit ms-text-danger'></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Delete Confirm !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to delete ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkDelete">Delete</a>
                </div>

            </div>
        </div>
    </div>

{%  endblock %}
