{% extends 'backOffice/baseDash.html.twig' %}
{% block title %}Dashboard | Choose Driver{% endblock %}
{% block body %}

	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
				<li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> {% trans %}Home{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">{% trans %}Orders{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">{% trans %}List Orders{% endtrans %}</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">{% trans %}Driver{% endtrans %}</a></li>
			</ol>
		</nav>
	</div>

	<div class="col-md-12">
		<div class="col-8 mx-auto">
			<div class="ms-panel ms-panel-fh">
				<div class="ms-panel-header mb-4">
					<h6 class="float-left">{% trans %}Chose Driver{% endtrans %}</h6>

					{% for  message in app.flashes('success') %}
						<div class=" text-success float-right">{{ message }}</div>
					{% endfor %}

					{% for  message in app.flashes('error') %}
						<div class=" text-success float-right">{{ message }}</div>
					{% endfor %}
				</div>


				<div class="ms-panel-body">
					<div class="text-center"><h5>{% trans %}List drivers from{% endtrans %} {{ city.name }}</h5></div>
					{{ form_start(form ,{'attr':{'class':'needs-validation clearfix'}}) }}
					<div class="form-row">

						<div class="text-danger">{{ form_errors(form.driver)}}</div>
						<label for="validationCustom29">{% trans %}Driver Name{% endtrans %}</label>
						<div class="input-group">
							{{ form_widget(form.driver , { 'attr' : {'class':'form-control'} }) }}
						</div>

					</div>
					<div class="form-row">
						<div class="col-12 text-right p-0">
							<button type="submit" class="btn btn-primary m-0">{% trans %}Add{% endtrans %}</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

{%  endblock %}