<nav class="navbar ms-navbar">
    <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"> <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
    </div>
    <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="../../index.html">
            <img src="{{ asset('dashAssets/img/logo.png') }}" alt="logo">
        </a>
    </div>
    <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">

        <li class="ms-nav-item ms-nav-user dropdown">
            <a href="#" id="userDropdown" class="profile bg-primary rounded-circle align-items-center justify-content-middle p-2 fs-16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fullName" style="display: none">{{ app.user.fullName }}</span>
                <span class="text-white mini-name"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
                <li class="dropdown-menu-header">
                    <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Welcome, <span class="fullName">{{app.user.fullName}}</span></span></h6>
                </li>
                <li class="dropdown-divider"></li>
                <li class="ms-dropdown-list">
                    <a class="media fs-14 p-2" href="{{ path('second_admin_profile') }}"> <span><i class="flaticon-user mr-2"></i>{% trans %}Account{% endtrans %}</span>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
            
                <li class="dropdown-menu-footer">
                    <a class="media fs-14 p-2" href={{ path('security_logout') }}> <span><i class="flaticon-shut-down mr-2"></i> Logout</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options"> <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
    </div>
</nav>