{% extends 'backOffice/baseDash.html.twig' %}

{% block title %}Dashboard | Menu List{% endblock %}
{% block body %}
	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
				<li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> {% trans %}Home{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="{{ path('listMenuPartner') }}">Menu</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">{% trans %}List Menu{% endtrans %}</a></li>
			</ol>
		</nav>
	</div>


	<div class="col-md-12">
		<div class="col-md-12 mx-auto">
			<div class="ms-panel">
				<div class="ms-panel-header mb-4">
					<h6 class="float-left">{% trans %}Menu List{% endtrans %}</h6>
					<div class="col-12 text-right p-0">
						<a href="{{ path('newMenuPartner') }}" class="btn btn-primary shadow-none">{% trans %}New Menu{% endtrans %}</a>
					</div>
					{% for  message in app.flashes('success') %}
						<div class=" text-success font-weight-bold float-right">{{ message }}</div>
					{% endfor %}

					{% for  message in app.flashes('error') %}
						<div class=" text-danger font-weight-bold float-right">{{ message }}</div>
					{% endfor %}
				</div>
				<div class="ms-panel-body">

					<div class="table-responsive">
						<table id="example4" class="table table-hover thead-primary text-center">
							<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Cuisine</th>
								<th scope="col">Description</th>
								<th scope="col">Variant</th>
								<th scope="col">Menu Images</th>
								<th scope="col">Action</th>
							</tr>
							</thead>
							<tbody>

							{% for Menu in Menus |sort|reverse %}
								<tr>
									<td>{{ Menu.name }}</td>
									<td>{{ Menu.menuCategory.cuisineName }}</td>
									<td>{{ Menu.description }}</td>

									{% if Menu.subMenus is empty%}
										{% if Menu.variants|default(null) %}
											<td>
												<a href="{{ path('listVariantMenuPartner',{'id':Menu.id})}}" class="btn btn-primary shadow-none btn-variant">{% trans %}Change{% endtrans %}</a>
											</td>
										{% else %}
											<td>
												<a href="{{ path('listVariantMenuPartner',{'id':Menu.id})}}" class="btn btn-danger shadow-none btn-variant">{% trans %}Add{% endtrans %}</a>
											</td>
										{% endif %}
									{% else %}
										<td>
											has subMenu
										</td>
									{% endif %}


									<td>
										{% if Menu.images is not empty %}
											<div id="dottedSlider{{ Menu.id }}" class="ms-dotted-indicator-slider carousel slide carousel-menu" data-ride="carousel">
												<ol class="carousel-indicators">
												</ol>
												<div class="carousel-inner carousel-inner-menu">
													{% for image in Menu.images |sort|reverse|slice(0, 5) %}
														{% set active = "" %}

														{% if loop.index == 1 %}{% set active = "active" %}{% endif %}
														<div class="carousel-item {{ active }}">
															<img class="d-block w-100" src="{{ asset('images/menu/') }}{{ image }}" width="150" height="100">
														</div>
													{% endfor %}
												</div>
												<a class="carousel-control-prev" href="#dottedSlider{{ Menu.id }}" role="button" data-slide="prev">
													<span class="material-icons" aria-hidden="true">keyboard_arrow_left</span>
													<span class="sr-only">Previous</span>
												</a>
												<a class="carousel-control-next" href="#dottedSlider{{ Menu.id }}" role="button" data-slide="next">
													<span class="material-icons" aria-hidden="true">keyboard_arrow_right</span>
													<span class="sr-only">Next</span>
												</a>
											</div>
										{% endif %}
									</td>

									<td>
										<a href='{{ path('editMenuPartner',{'id':Menu.id})}}'><i class='fas fa-edit text-success'></i></a>
										<a href='javascript:void(0)' data-toggle="modal" data-target="#modal-1" onclick='deleteAction("{{ path('deleteMenuPartner',{'id':Menu.id})}}")'><i class='far fa-trash-alt ms-text-danger'></i></a>
									</td>
								</tr>
							{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>{% trans %}Delete Confirm{% endtrans %} !</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<p>{% trans %}Do you really want to delete{% endtrans %} ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
					<a href="#" class="btn btn-primary shadow-none" id="linkDelete">{% trans %}Delete{% endtrans %}</a>
				</div>

			</div>
		</div>
	</div>

{%  endblock %}
