{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- =========================== Breadcrumbs =================================== -->
    <div class="breadcrumbs_wrap dark">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="text-center">
                        <h2 class="breadcrumbs_title">{% trans %}Register{% endtrans %}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
                                <li class="breadcrumb-item" aria-current="page">{% trans %}Restaurant registration{% endtrans %}</li>
                                <li class="breadcrumb-item active" aria-current="page">Information</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- =========================== Breadcrumbs =================================== -->

    <!-- =========================== Login/Signup =================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
                    <div class="login_signup">
                        <h3 class="login_sec_title">{% trans %}Create An Account{% endtrans %}</h3>
                        {% for  message in app.flashes('success') %}
                            <div class=" text-success">{{ message }}</div>
                        {% endfor %}
                        {% for  message in app.flashes('error') %}
                            <div class=" text-danger">{{ message }}</div>
                        {% endfor %}
                        {{ form_start(form)}}
                            <div class="row">

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.storeName)}}</div>
                                        <label>{% trans %}Restaurant name{% endtrans %}</label>
                                        {{ form_widget(form.storeName,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.storePhone)}}</div>
                                        <label>{% trans %}Restaurant phone{% endtrans %}</label>
                                        {{ form_widget(form.storePhone,{'attr':{'class':'form-control','type':'phone'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.fullName)}}</div>
                                        <label>{% trans %}Contact name{% endtrans %}</label>
                                        {{ form_widget(form.fullName,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.contactPhone)}}</div>
                                        <label>{% trans %}Contact phone{% endtrans %}</label>
                                        {{ form_widget(form.contactPhone,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.email)}}</div>
                                        <label>{% trans %}Contact email{% endtrans %}</label>
                                        {{ form_widget(form.email,{'attr':{'class':'form-control','type':'email'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.state)}}</div>
                                        <label>{% trans %}State/Region{% endtrans %}</label>
                                        {{ form_widget(form.state,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.country)}}</div>
                                        <label>{% trans %}Country{% endtrans %}</label>
                                        {{ form_widget(form.country,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.city)}}</div>
                                        <label>{% trans %}City{% endtrans %}</label>
                                        {{ form_widget(form.city,{'attr':{'class':'form-control'}}) }}
                                        <div class="spinner-border text-success" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.postCode)}}</div>
                                        <label>{% trans %}Post code/Zip code{% endtrans %}</label>
                                        {{ form_widget(form.postCode,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.address)}}</div>
                                        <label>{% trans %}Street address{% endtrans %}</label>
                                        {{ form_widget(form.address,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>

                                <hr>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.username)}}</div>
                                        <label>{% trans %}Username{% endtrans %}</label>
                                        {{ form_widget(form.username,{'attr':{'class':'form-control','type':'text'}}) }}
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.password)}}</div>
                                        <label>{% trans %}Password{% endtrans %}</label>
                                        {{ form_widget(form.password,{'attr':{'class':'form-control','type':'password'}}) }}
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <div class="text-danger">{{ form_errors(form.confirm_password)}}</div>
                                        <label>{% trans %}Confirm Password{% endtrans %}</label>
                                        {{ form_widget(form.confirm_password,{'attr':{'class':'form-control','type':'password'}}) }}
                                    </div>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <div class="login_flex">
                                        <div class="login_flex_2">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn btn-md btn-theme">{% trans %}Sign Up{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- =========================== Login/Signup =================================== -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}


