{% extends 'backOffice/baseDash.html.twig' %}
{% block title %}Dashboard | Order details{% endblock %}
{% block body %}

	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
				<li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> {% trans %}Home{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">{% trans %}Orders{% endtrans %}</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">{% trans %}Orders list{% endtrans %}</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Detail</a></li>
			</ol>
		</nav>
	</div>

	<div class="col-md-12">

		<div class="ms-panel">
			<div class="ms-panel-header header-mini">
				<div class="d-flex justify-content-between">
					<h6>{% trans %}Order Detail{% endtrans %}</h6>
					<h6>{{ order.trackNumber }}</h6>
				</div>
			</div>
			<div class="ms-panel-body">

				<!-- Invoice To -->
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="invoice-address">
							<h4 class="text-success">{% trans %}Customer Info{% endtrans %}</h4>
							<p class="mb-0"><b>{% trans %}Customer Name{% endtrans %} :</b> {{ order.fullName }}</p>
							<p class="mb-0"><b>{% trans %}Customer Phone{% endtrans %} :</b> {{ order.phone }}</p>
							<p class="mb-0"><b>{% trans %}Address{% endtrans %} :</b> {{ order.address }}</p>
							<p class="mb-0"><b>{% trans %}City{% endtrans %} :</b> {{ order.city.name }}</p>
							<p class="mb-0"><b>{% trans %}Country{% endtrans %} :</b> {{ order.city.country.name }}</p>

							{% if order.note is not null %}
								<p><b>{% trans %}Customer Note{% endtrans %} :</b> {{ order.note }}</p>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6 text-md-right">
						<ul class="invoice-date">
							<li>{% trans %}Order Date{% endtrans %} : {{ order.orderDate|date("d/m/Y") }}</li>
							<li>{% trans %}Order Status{% endtrans %} :
								{% if order.status == 'INITIATED' %}
									<span class="badge badge-square badge-danger">{% trans %}Pending{% endtrans %}</span>
								{% elseif order.status == 'CANCELED'%}
									<span class="badge badge-square badge-dark">{% trans %}Cancelled{% endtrans %}</span>
								{% elseif order.status == 'VALIDATED'%}
									<span class="badge badge-square badge-warning">{% trans %}Validated{% endtrans %}</span>
								{% elseif order.status == 'IN TRANSIT'%}
									<span class="badge badge-square badge-secondary">{% trans %}In Transit{% endtrans %}</span>
								{% elseif order.status == 'DELIVERED'%}
									<span class="badge badge-square badge-success">{% trans %}Delivered{% endtrans %}</span>
								{% elseif order.status == 'RETURNED'%}
									<span class="badge badge-square badge-dark">{% trans %}Returned{% endtrans %}</span>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>

				<div class="ms-invoice-table table-responsive mt-5">
					<table class="table text-right thead-primary">
						<thead>
						<tr class="text-capitalize">
							<th class="text-left">Restaurant</th>
							<th class="text-left">{% trans %}Menu/SubMenu{% endtrans %}</th>
							<th>{% trans %}Size{% endtrans %}</th>
							<th>{% trans %}Unit Cost{% endtrans %}</th>
							<th>Qty</th>
							<th>Total</th>
						<tr>
						</thead>
						<tbody>

							{% for cart in order.carts |sort|reverse %}

								<!-- Invoice Table -->
								{% for line in cart.cartlines |sort|reverse %}

									<tr>
										{% if loop.index == 1 %}
											<td class="text-left" style="border-right: 1px solid #dee2e6" rowspan="{{ cart.cartlines.count }}">
												<h6 class="">{% trans %}Name{% endtrans %} : {{ cart.restaurant.restaurantName }}</h6>
												<h6 class="">{% trans %}Phone{% endtrans %} : {{ cart.restaurant.restaurantPhone }}</h6>
											</td>
										{% endif %}

										{% if line.variant.menu is not null %}
											<td class="text-left">
												<img src="/images/menu/{{ line.variant.menu.images[0] }}" alt="people" width="50" height="50" class="mr-2">
												<strong>{{ line.variant.menu.name }}</strong>
											</td>
										{% elseif line.variant.subMenu is not null %}
											<td class="text-left">
												<img src="/images/sub_menu/{{ line.variant.subMenu.imageUrl }}" alt="people" width="50" height="50" class="mr-2">
												<strong>{{ line.variant.subMenu.menu.name }} |</strong>
												<span>{{ line.variant.subMenu.name }}</span>
											</td>
										{% endif %}

										<td>{{ line.variant.size }}</td>
										<td>Dhs {{ line.variant.price }}</td>
										<td>{{ line.quantity }}</td>
										<td>Dhs {{ line.total }}</td>
									</tr>
								{% endfor %}

								<tr>
									<td class="pb-3" colspan="5">{% trans %}Total Cost{% endtrans %}: </td>
									<td class="pb-3" >Dhs {{ cart.total }}</td>
								</tr>

							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<td class="text-center" colspan="6">
									<h4 class="text-success">{% trans %}Total Order{% endtrans %} : Dhs{{ order.total }}</h4>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

{%  endblock %}
